*{
    padding:                       0%;
    margin:                        0%;
}
:root{
    /*palheta de cores*/
    --fundo: rgb(29, 26, 26);
    --letras: rgb(255, 254, 254); 
}

body{
    background-color: var(--fundo);
    color: var(--letras);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    display: flex;
    width: 99%;
    height: 70px;
    margin-bottom: 10px;
    justify-content: space-between;
}


nav h5{
    font-size: 15;
    margin-top: auto;
    margin-left: 10px;
}

.logo{
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
}

.ft-logo{
    height: 70px;
    width: 70px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

nav a{
    color: var(--letras);
    text-decoration: none;
    font-size: 30;
}

nav a:hover{
    background-color:whitesmoke ;
    color: var(--fundo);
    border-radius: 5 px;
}


/*parte do login*/

.cadastro{
    box-shadow: 1,1,5 rgb(32, 31, 31);
    background-color: rgb(37, 33, 33);
    margin: auto;
    width: 400px;
    height: 400px;
    margin-top: 5%;
}

.dados-cima{
    text-align: center;
}

.foto-login{
    margin-top: 20px;
    border-radius: 900px;
    width: 100px;
}
.dados-dados{
    margin-left: 4%;
}
.dados-dados label{
    display: block;
    margin-top: 6px;
    margin-bottom: 4px;

}

.dados-dados input{
    width: 95%;
    height: 25px;
    padding: 5px;
}

.dados-dados button{
    background-color: whitesmoke;
    width: 95%;
    height: 50px;
    margin-top: 20;
    border-radius: 10px;
}

.dados-dados button:hover{
    background-color: black;
    color: var(--letras);
}

/*parte da home*/

#titulo{
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}

main .investigado{
    margin-top: 100px;
    margin-left: 7%;
}

main .investigado strong{
    font-size: 30px;
}

.investigado #inv{
    color: rgb(216, 38, 38);
}

main h6{
    color: rgb(216, 38, 38);
}

.sobre{
    border: solid;
    margin: 1% 10% 10% 10%;
}
.topo-pr{
    text-align: center;
}
#ft-renato{
    width: 300px;
}

.titulo-miolo{
    margin-top: 55px;
    margin-left: 4%;
}
.caixa-irformacao h4{
    margin-left: 4%;
}
#int-op{
    color: rgb(216, 38, 38);
    margin-left: 13%;
    margin-top: 10%;
    margin-bottom: 0%;
}
.sobre .caixa-informacao{
    margin: 2% 10% 3% 10%;
}

.sb-tp{
    margin-left: 4%;
}

.i-sb-tp{
    margin: 1% 0% 1% 10%;
}

.saber-mais ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 2%;
    font-size: 40px;
}

.saber-mais a{
    text-decoration: none;
    color: peachpuff;
    padding-left: 19px;
    justify-content: space-between;
}

.saber-mais a:hover{
    background-color:whitesmoke ;
    color: var(--fundo);
    border-radius: 5 px;
}

/**/
.carrosel-livros{
    height: 50%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0%;
}
/**/

.n-p{
    color: rgb(216, 38, 38);
    margin-bottom: 4%;
}

.s-p{
    margin: 10px;
    font-size: 30px;
}

.img-ct{
    width: 150px;
    display: inline-block;
}

.s-s a{
    text-decoration: none;
    list-style: none;
    color: peachpuff;
}

.item-ct{
    margin: 20px;
    border-radius: 20;
    display: inline-block;
    text-align: center;
    flex-direction: row;
}

.s-s{
    text-align: center;
    justify-content: center;
}

.subtitulo-pr{
    margin-left: 10px;
}

/**/
.negacao-ani{
    color: red;
}
.afirmacao-ani{
    color: green;
}
.texto-ani h3 strong{
    text-decoration: line-through;
}
.texto-ani h4 strong{
    color: ivory;
    text-decoration: line-through;
}
.texto-ani h4{
    color: lawngreen;
}
.texto-ani h3 b{
    color: greenyellow; 
}
.texto-ani h1 {
    color: red;
    text-align: center; 
    margin: 7% 10% 5% 10%;
}

.texto-ani h2{
    margin: 20px;
}

.btn-ani{
    text-decoration: none;
    color: rgb(7, 7, 7);
    background-color: seashell;
    text-align: center;
    height: 80px;
    width: 200px;
    align-items: center;
    margin-left: 40%;
    margin-right: 40%;
    display: flex;
}

.btn-ani:hover{
    background-color: red;
    color: #fff5ee;
}

.animacao{
    overflow: hidden;
    animation: pisca normal infinite .8s, escrever normal .99s;
}

.negacao-ani{
    overflow: hidden;
    display: inline-block;
    max-width: 0%;
    animation: escrever normal 10s steps(200) both;
    white-space: nowrap;
}

.curriculo{
    width: 90%;
    margin: 5% 5% 2% 5%;
    height: auto;
    display: flex;
}

@keyframes pisca{
    100%{
        border-right-color: transparent;
    }
}

@keyframes escrever{
    100%{
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .cadastro{
        box-shadow: 1,1,5 rgb(32, 31, 31);
        background-color: rgb(37, 33, 33);
        margin: auto;
        width: 300px;
        height: 400px;
        margin-top: 25%;
    }

    nav{
        display: flex;
        width: 99%;
        height: 70px;
        margin-bottom: 10px;
        justify-content: space-between;
    }
    
    
    nav h5{
        font-size: 15;
        margin-top: auto;
        margin-left: 10px;
    }
    
    .logo{
        display: flex;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 10px;
    }
    
    .ft-logo{
        height: 65px;
        width: 65px;
    }
    
    nav ul{
        display: flex;
        list-style: none;
        gap: 20px;
        align-items: center;
        
    }
    
    nav a{
        color: var(--letras);
        text-decoration: none;
        font-size: 20;
        padding-top: 10px;
        padding-left: 10px;
    }
    .pc{
        margin-top: 10px;
        display: flex;
    }
    nav{
        display: inline-block;
    }
    .item-ct{
        margin: auto;
        padding: 10px;
        border-radius: 20;
        display: inline-block;
        text-align: center;
        justify-content: center;
        flex-direction: row;
    }

    .s-s{
        margin-left: 3% ;
    }
    .n-p{
        margin-left: 3% ;
    }


}
